body {
  font-family: "Poppins", sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

.contactPage {
  width: 100%;
  background-color: #ffffff;
}

.contactTophead {
  width: 100%;
  background-color: #50555a;
  text-align: center;
  padding-top: 150px;
}

.contactTophead h1 {
  color: #ffc109;
  font-size: 42px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.contactTophead p {
  width: 70%;
  margin: auto;
  font-size: 18px;
  line-height: 1.5;
  color: white;
  padding-bottom: 20px;
}

.contactDetails {
  width: 80%;
  margin: 40px auto;
  padding: 20px;
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}

.contactInfo {
  flex: 1;
}

.contactTitle {
  font-size: 22px;
  font-weight: bold;
  color: #50555a;
  margin-bottom: 50px;
}

.contactItem {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  color: #333;
  margin: 10px 0;
}

.contactItem a {
  text-decoration: none;
  font-weight: 600;
  color: #007bff;
}

.contactItem a:hover {
  text-decoration: underline;
}

/* Icon Colors */
.icon {
  font-size: 22px;
}

.phoneIcon {
  color: #ff6b6b;
}

.whatsappIcon {
  color: #25d366;
}

.instaIcon {
  color: #e4405f;
}

.fbIcon {
  color: #1877f2;
}


/* Map Section */
.maps {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.mapouter {
  position: relative;
  text-align: right;
  width: 100%;
  max-width: 500px;
  height: 300px;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  width: 100%;
  height: 100%;
}

.gmap_iframe {
  width: 100% !important;
  height: 100% !important;
  border-radius: 10px;
}

/* Responsive Design */
@media screen and (max-width: 992px) {
  .contactTophead {
    height: 37vh;
    padding: 150px 0;
  }

  .contactTophead h1 {
    font-size: 30px;
  }

  .contactTophead p {
    font-size: 18px;
  }

  .contactDetails {
    flex-direction: column;
    align-items: left;
    text-align: left;
  }

  .maps {
    justify-content: center;
    margin-top: 20px;
  }

  .mapouter {
    width: 100%;
    max-width: 100%;
  }
}
