body {
  font-family: 'Poppins', sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

.aboutPage {
  width: 100%;
  background-color: #ffffff;
}

.tophead {
  width: 100%;
  background-color: #50555a;
  text-align: center;
  padding-top: 150px;
}

.tophead h1 {
  color: #ffc109;
  font-size: 42px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.tophead p {
  width: 70%;
  margin: auto;
  font-size: 18px;
  line-height: 1.5;
  color: white;
  padding-bottom: 20px;
}

.subTitle {
  width: 70%;
  margin: auto;
  padding: 40px 0;
}

.subTitle h2 {
  font-size: 38px;
  font-weight: 600;
  color: #ffc109;
  margin-top: 30px;
  padding-bottom: 5px;
}

.subTitle p{
    font-size: 18px;
    line-height: 1.9;
    padding: 15px;
}

.experties {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  background-color: #f5f5f5;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  transition: transform 0.3s ease-in-out;
}

.experties:hover {
  transform: translateY(-5px);
}

.left {
  width: 40%;
  display: flex;
  justify-content: center;
}

.left img {
  width: 70%; 
  height: 30vh; 
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.right {
  width: 90%; 
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right h3 {
  font-size: 24px;
  color: #2c3e50;
  margin-bottom: 10px;
}

.right p {
  font-size: 18px;
  color: #3c3c3c;
  line-height: 1.6;
  margin: 0; 
}

.about-list{
  padding: 30px 0;
  list-style: none;
}

.about-list li {
  display: flex;
  align-items: center;
  background: #fff;
  padding: 15px;
  margin-bottom: 10px;
  border-left: 5px solid #ffc109;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
}

.about-list li strong , .subTitle strong{
  font-size: 20px;
  color: #2c3e50;
  margin-right: 5px;
}

.about-list li p {
  font-size: 18px;
  color: #555;
  margin: 0;
}

@media (max-width: 1024px) {
  .subTitle {
    width: 85%;
  }
}

@media (max-width: 768px) {
  .aboutPage p{
    text-align: left;
  }
  
  .tophead {
    padding: 150px 0px;
    height: 50vh;
  }

  .tophead h1 {
    font-size: 34px;
  }

  .tophead p {
    width: 75%;
    font-size: 16px;
  }

  .subTitle {
    width: 90%;
    text-align: center;
  }

  .subTitle h2 {
    font-size: 30px;
  }

  .subTitle p {
    font-size: 16px;
  }

  .experties {
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }

  .left,
  .right {
    width: 100%;
  }

  .left img {
    width: 90%;
    margin-bottom: 15px;
  }

  .right h3 {
    font-size: 22px;
  }

  .right p {
    font-size: 16px;
  }

  .about-list li {
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }

  .about-list li strong {
    margin-bottom: 5px;
  }
}