* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navContainer {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
}

.topBar {
  background-color: #ffc109;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  flex-wrap: wrap;
}

.topBarLeft,
.topBarRight {
  display: flex;
  align-items: center;
  gap: 20px;
}

.topBarLeft p,
.topBarRight svg {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  font-weight: 500;
  color: #343a3f;
}

.topBarRight svg {
  width: 22px;
  height: 22px;
  color: #343a3f;
  cursor: pointer;
  transition: color 0.3s ease, transform 0.3s ease;
}

.topBarRight svg:hover {
  color: white;
  transform: scale(1.1);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #343a3f;
  color: white;
  padding: 15px 30px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 49px;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.navLogo {
  cursor: pointer;
  font-size: 26px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: transform 0.3s ease;
}

.navLogo:hover {
  transform: scale(1.1);
}

.navLogo svg {
  width: 30px;
  height: 30px;
  color: #ffd700;
}

.navLinks {
  display: flex;
  list-style: none;
  gap: 25px;
  transition: all 0.3s ease;
}

.navLinks li {
  position: relative;
}

.navLink {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 600;
  transition: color 0.3s ease;
}

.navLink:hover {
  color: #ffd700;
}

.navLink::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 3px;
  background-color: #ffd700;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.navLink:hover::after {
  transform: scaleX(1);
}

.menuButton {
  display: none;
  background: none;
  border: none;
  font-size: 32px;
  color: white;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.menuButton:hover {
  transform: scale(1.1);
}

@media (max-width: 992px) {
  .topBar {
    padding: 15px 15px;
  }

  .topBarLeft p {
    font-size: 14px;
  }

  .topBarRight svg {
    width: 20px;
    height: 20px;
  }

  .navbar {
    padding: 10px 20px;
  }

  .menuButton {
    display: block;
  }

  .navLinks {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #343a3f;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 20px 0;
  }

  .navLinks.open {
    display: flex;
  }

  .navLinks li {
    padding: 10px 0;
  }
}

@media (max-width: 576px) {
  .topBar {
    padding: 5px 15px;
    flex-direction: column;
    text-align: center;
    gap: 5px;
  }

  .navbar{
    padding: 20px;
  }

  .navLogo {
    font-size: 22px;
  }

  .menuButton {
    font-size: 28px;
  }

  .navLink::after {
    width: 0%;
  }
  
}
